.discount-code-input {
  display: flex;
  align-items: center;

  input {
    width: 151px;
    height: 40px;
    border: 1px solid #CECECE;
    padding-left: 10px;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.01em;
  }

  .discount-code-label {
    width: 76px;
    height: 31px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.01em;
    color: #000;
  }
}
